BRAND_NAME = Gogs
RUN_USER   = {{ user }}
RUN_MODE   = prod

[database]
TYPE     = {{ dbtype }}
HOST     = {{ dbconnect }}:3306
NAME     = {{ dbname }}
USER     = {{ user }}
PASSWORD = {{ passwd }}
SSL_MODE = disable
PATH     = /home/git/gogs/data/gogs.db

[repository]
ROOT = /home/git/gogs-repositories

[server]
DOMAIN           = localhost
HTTP_PORT        = 3000
EXTERNAL_URL     = http://{{ ansible_default_ipv4.address }}:3000/
DISABLE_SSH      = false
SSH_PORT         = 22
START_SSH_SERVER = false
OFFLINE_MODE     = false

[mailer]
ENABLED = false

[auth]
REQUIRE_EMAIL_CONFIRMATION  = false
DISABLE_REGISTRATION        = false
ENABLE_REGISTRATION_CAPTCHA = true
REQUIRE_SIGNIN_VIEW         = false

[user]
ENABLE_EMAIL_NOTIFICATION = false

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = false

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = Info
ROOT_PATH = /home/git/gogs/log

[security]
INSTALL_LOCK = true
SECRET_KEY   = SK6QL7H8qB9zHUS

